<!-- <section class="main">
  <header>
    <h4 style="color: antiquewhite;">Chat</h4>
    <a style="color: antiquewhite; " href="/userprofile" >Disconnect</a>
    

  </header>
  
  

  <section *ngIf="currentUser" class="chat-holder">
    <article>
      <app-private-chat
        [selectedUser]="selectedUser"      
        [pmessages]="pmessages"
        (onMessage)="handleMessage($event)"
        
      ></app-private-chat>
    </article>
    <aside>
      <users-list
        [usersList]="usersList"
        (onUserSelect)="handleUserSelect($event)"
      ></users-list>
    </aside>
  </section>


  
</section> -->
